<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fragments</title>
  </head>
  <body>
    <div class="header text-center pt-4" th:fragment="navbar">
      <h1 class="text-center index__header-h1 mb-0">LEDGER</h1>
      <p class="index__header-p">
        Through hardship and hazard, we write the chronicles of the frontier so
        the realm may know.
      </p>
    </div>

    <div class="card mb-2" th:fragment="menu">
      <div class="card-body">
        <div class="row gx-2">
          <div class="col-auto">
            <button class="btn btn-primary shadow-sm" @click="createEntry">
              <i class="bi bi-plus-lg"></i>
              New Entry
            </button>
          </div>
          <div class="col-auto">
            <button class="btn btn-success shadow-sm" @click="saveLedger">
              Save Ledger
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card music-player" th:fragment="music-player">
      <audio id="audio-player" loop>
        <source src="/audio/soundtrack.mp3" type="audio/mpeg" />
      </audio>

      <div class="card-body p-2">
        <div class="row align-items-center gx-2">
          <div class="col">
            <i
              class="bi fs-4 pointer"
              :class="{'bi-play-fill': !isMusicPlaying, 'bi-pause-fill': isMusicPlaying}"
              @click="playPauseMusic()"
            ></i>
          </div>
          <div class="col-auto">
            <p class="mb-0">
              {{isMusicPlaying ? 'Pause' : 'Play' }} - Soundtrack
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
